<div class=" container">
  
  <nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" >Vina Education {{name}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link {{#if (eq active 2)}}activeNav{{/if}}" href="/admin/create">Đăng khóa học
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#if (eq active 3)}}activeNav{{/if}}" href="/admin/stored/1">khóa học của tôi</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</div>